@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100%;
  height: 100%;
  background-color: #fcfcfc;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 20px;
  padding-bottom: 20px;

  
}

.font-rubik {
  font-family: var(--rubik);
}

h1 {
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 500;
}

h2 {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 500;
}

@keyframes flow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-flow {
  display: flex;
  width: 200%; /* Adjust according to your needs */
  animation: flow 30s linear infinite;
}

.animate-flow:hover {
  animation-play-state: paused;
}

.icon-set {
  display: flex;
  width: 50%; /* Adjust according to your needs */
  justify-content: space-between;
}

h3 {
  font-size: 19px;
  letter-spacing: 1px;
  font-weight: 500;
}

h4 {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 400;
}

h5 {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 300;
}

h6 {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 100;
}

p {
  font-size: 15px;
}

strong {
  font-weight: 500;
  letter-spacing: 1px;
}

.placeholder::placeholder {
  color: #999;
  opacity: 0.7;
  font-weight: 300;
  letter-spacing: 0.025em;
}


@keyframes letter-animation {
  0% { opacity: 1; }
  10% { opacity: 0.95; }
  20% { opacity: 0.9; }
  30% { opacity: 0.85; }
  40% { opacity: 0.8; }
  50% { opacity: 0.75; }
  60% { opacity: 0.8; }
  70% { opacity: 0.85; }
  80% { opacity: 0.9; }
  90% { opacity: 0.95; }
  100% { opacity: 1; }
}

.word-animation span {
  animation: letter-animation 2s infinite;
  animation-delay: calc(0.2s * var(--i));
}

.word-animation span:nth-child(1) { --i: 1; }
.word-animation span:nth-child(2) { --i: 2; }
.word-animation span:nth-child(3) { --i: 3; }
.word-animation span:nth-child(4) { --i: 4; }
.word-animation span:nth-child(5) { --i: 5; }
.word-animation span:nth-child(6) { --i: 6; }
